.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form h3 {
  font-size: 30px;
  text-align: center;
  margin: 0 0 70px;
}

.form h4 {
  font-size: 20px;
  padding-bottom: 15px;
  opacity: 80%;
}
.ulText {
  font-size: 17px;
  padding-bottom: 20px;
  list-style-type: none;
  opacity: 80%;
}

.input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 13px;
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.form h3 {
  font-size: 30px;
}
.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}
